---
import Layout from '@/layouts/layout.astro'
---

<Layout>
  <article class="er">
    <h1 class="er-title">Error 404</h1>
    <p class="er-text">Ups, esta página no existe</p>
  </article>
</Layout>
