<div class="w-max rounded-2xl border-0 bg-gray-700 px-2 py-5 sm:px-20">
  <h1 class="pb-4 text-2xl font-medium">
    Consultar información sobre un <span class="font-bold text-purple-300"
      >clan</span
    >
  </h1>
  <div class="flex justify-center gap-3">
    <input
      id="coc-tag"
      type="text"
      value="#2G00G8RP8"
      placeholder="#2G00G8RP8"
      class="w-34 rounded-2xl border p-1 pl-3 font-medium"
    />
    <button
      id="coc-search"
      type="button"
      class="cursor-pointer rounded-lg border bg-purple-300 px-3 font-bold text-gray-800"
    >
      BUSCAR
    </button>
  </div>
</div>
